*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
	font-family: 'Century Gothic';
}

h1{
    color: green;
}

/*INICIO BOTON HAMBRUGUESA*/
/*Declaracion de variables*/
:root{
    --color-fondo-boton:rgb(255, 255, 255);
    --color-blue:rgba(159, 154, 229, 0.7);
    --color-blue-dark:#140265;
    --size-dropdown: 12rem;
    --time-animation: 0.3s;

    --box-shadow: 3px 7px 7px rgba(0 0 0/ 22%);
}
/*<NAV id=menu> */
#menu{
    padding: 0,6rem 1,2rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    text-align: center;
}

#menu h1{
    width: 70%;
    padding: 2% 0%;
    text-align: center;
}

#menu a, li{
    text-decoration: none;
    list-style: none;
    color: inherit;
}

/*BOTON LABEL*/
.button{
    --size: 45px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: var(--color-blue-dark);
    padding: 0,6rem 0,3rem;
    z-index: 10;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

/*SPAN X*/
.button-line{
    display: block;
    width: 60%;
    height: 2px;
    background-color: #fff;
    transition: transform calc(var(--time-animation)/2);  
}

/*INPUTT "CHECKBOX"*/
.verification{
    display: none;
}

.verification:checked+ .button .button-line:first-child{
    transform: translateY(0.8em) rotate(45deg);
}

.verification:checked+ .button .button-line:nth-of-type(2){
    transform: scale(0);
}

.verification:checked+ .button .button-line:last-child{
    transform: translateY(-1em) rotate(-45deg);
}

/*CAJA FONDO DE BOTON*/
.red-box{
    height: 100%;
    width: var(--size-dropdown);
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(calc(var(--size-dropdown)/2 * -1));
    transition: transform var(--time-animation);
}

.verification:checked ~ .red-box{
    transform: translateX(0);
    background-color: var(--color-fondo-boton);
}

/*BARRA REDES SOCIALES*/
.social-networks{
    background-color: var(--color-blue);
    border-radius: 0 1rem 1rem 0;
    padding: 0.4rem;
    padding-left: 1.5rem;
    color: #fff;
    box-shadow: var(--box-shadow);
    z-index: 1;
    margin-left: -1rem;
    transform: scale(0);
    transition: transform var(--time-animation);
    transform-origin: left;
} 

/*Aplicar el efecto Opacity a los iconos de las redes sociales*/
.social-networks-link{
    margin: 0.7rem;
    opacity: 0;
}

.verification:checked ~ .social-networks{
    transform: scalex(1);
}

/*Aplicar el efecto Opacity a los iconos de las redes sociales*/
.verification:checked ~ .social-networks .social-networks-link{
    animation: effectOpacity var(--time-animation) 0.3s forwards;
}

/*DIV MENU DROPDOWN*/
.dropdown-menu{
    position: absolute;
    left: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    width: var(--size-dropdown);
    background-color: var(--color-fondo-boton);
    padding: 2rem;
    font-weight: 300;
    box-shadow: var(--box-shadow);
    transform: scaleY(0);
    transition: transform var(--time-animation);
    transform-origin: top;
    
}

.dropdown-menu li{
    opacity: 0;
}

.dropdown-menu li i{
    display: inline-block;
    width: 20%;
    margin-right: 5%;
    text-align: right;
}

.verification:checked ~ .dropdown-menu{
    transform: scaleY(1);
}

/*Aplicar el efecto Opacity a los li de la barra desplegable*/
.verification:checked ~ .dropdown-menu li{
    animation: effectOpacity var(--time-animation) 0.3s forwards;
}

/*Creacion del efecto "effectOpacity"*/
@keyframes effectOpacity{
    to{
        opacity: 1;
    }
}
/*FIN BOTON HAMBRUGUESA*/

/*Estilos parte principal*/
main {
    width: 80%;
    margin: auto;
    background-color: #bbb6b6;
    display: flex;
    flex-wrap: wrap;
}

main figure {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

main section {
width: 50%;
}

main section> div{
    display: block;
    color: white;
    width: 95%;
    height: 40vh;
    margin: auto;
    margin-top: 3%;
    display: grid;
    justify-content: center;
    font-weight: bold;
}

main section h2{
    color: green;
}

main figure img{
    width: 33%;
}

.novedades{
    padding-top: 2%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    color: black;
}

.novedades h2, article{
    width: 25%;
    height: 20vh;
}

.novedades h3{
    margin: 4% 0;
    color: green;
    font-weight: bold;
}
/*
 https://www.youtube.com/watch?v=E4jYsgmOUp8&t=13s
 https://www.youtube.com/watch?v=_GaXvp4EB-E&t=95s
 https://codepen.io/CodyTron/pen/zwQaPw
 https://www.youtube.com/watch?v=QeRg4t3I2zc
/*FIN BOTON HAMBURGUESA*/



/*MOBILE***********************************************************************/
@media (min-width: 360px) and (max-width: 767px){
    #navegacion{
        display: none;
    }

    body{
        background-color: #e2dddd;
        color: rgb(143, 140, 140);
        font-family: 'Roboto Mono', monospace;
    }

    .dropdown-menu li i{
        margin-bottom: 1rem;
    }

    .dropdown-menu{
        color: var(--color-blue-dark);
    }

    main figure{
        width: 100%;
        display: block;
        order: 2;
    }

    main section{
        width: 100%;
        display: block;
        order: 1;
    }

    main figure img{
        width: 32.5%;
    }

    .novedades{
        display: block;
    }

    .novedades h2{
        width: 100%;
        height: 8vh;
        color: green;
    }

    .novedades article{
        width: 100%;
        height: 25vh;
        margin-bottom: 3%;
    }

}


/*TABLET*****************************************************/
@media (min-width: 768px) and (max-width: 1199px){

    #navegacion{
        display: none;
    }

    body{
        background-color: #f4eff5;
        color: rgb(48, 2, 47);
        font-family: 'Roboto Mono', monospace;
    }

    h1{
        font-size: 2rem;
    }

    .dropdown-menu li i{
        margin-bottom: 2rem;
    }

    .dropdown-menu{
        color:rgb(48, 2, 47);
        font-weight: bold;
    }

    main section{
        order: 1;
    }
    main figure{
        order: 2;
    }
}

/*ORDENADOR***********************************************************************/
@media (min-width: 1200px){
    body{
        background-color: white;
        color: rgb(8, 2, 48);
    }

    /*MENU NAVEGACION*/
a{
	text-decoration: none;
}

ul{
	list-style: none;
}

img{
	max-width: 100%;
}

#menu{
    display: none;
}

/*==========================================*/
#navegacion{
	width: 80%;
    margin: auto;
	background: #f8f4f4;
	display: flex;
	align-items: center;
}

#navegacion h1{
	width: 60%;
    margin-left: 2%;
    font-size: 3rem;
}

#navegacion .menu{
	width: 40%;
	display: flex;
	flex-wrap: wrap;
	height: 15vh;
}

.menu li{
	flex-basis: 0;
	flex-grow: 1;
	border-right: 1px solid #363636;
	position: relative;
}

.menu .first-item{
	border-left: 1px solid #363636;
}

.menu li a{
	display: flex;
	flex-direction: column;
	font-size: 18px;
}

.menu .imagen{
    box-sizing: border-box;
	position: absolute;
	bottom: 0;
	right: 30px;
	width: 0%;
	z-index: 20;

	-webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
   -moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
     -o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
        transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */

-webkit-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
   -moz-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
     -o-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
        transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
}

.menu li a .text-item{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	top: 0%;
	position: absolute;
	z-index: 10;

	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
   -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
        transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */

-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
   -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}

.menu li a .down-item{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	background: #1C1C1C;

	-webkit-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   -moz-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -o-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */

-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}

.menu li:hover .down-item, .menu li:hover .text-item{
	top: 100%;
	height: 115%;
}

.menu li:hover .imagen{
	width: 100%;
	right: 0px;
}
/*FIN MENU NAVEGACION*/
}